body {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

#banner{
    width: 30%;
}
.principal{
    background-color: rgb(221, 97, 97);
}

h1 {
    text-align: center;
    height: 60px;
    border: 10px solid;
    padding-top: 10px;
    margin-left: 50px;
}

.beneficios {
    background:rgb(221, 97, 97);
    padding: 20px;
}

.itens {
    font-size: 25px;
    font-synthesis: unset;
    color:rgb(0, 0, 0)
}

.imagembeneficios {
    width: 20%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
